@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

.list {
  width: 100%;
  background-color: #f5f5f5;

  .content {
    .breadcrumb {
      padding: px2rem(20) 0;
      font-size: px2rem(12);
      line-height: px2rem(12);
      color: $fontBlack;

      .breadcrumb__link {
        &:hover {
          color: $mainGold;
          text-decoration: underline;
        }
      }
    }

    .panel {
      margin-top: px2rem(30);
      padding: 0 px2rem(40);
      background-color: #fff;

      .filter {
        .filter__row {
          padding-top: px2rem(20);
          display: flex;
          border-top: 1px dashed #dedede;

          &:first-child {
            border-top: 0;
          }

          .filter__title {
            font-size: px2rem(14);
            line-height: px2rem(14);
            color: #999;
            width: px2rem(70);
            flex-basis: px2rem(70);
            white-space: nowrap;
          }

          .filter__items {
            display: flex;
            flex-wrap: wrap;

            .filter__item {
              margin-right: px2rem(30);
              margin-bottom: px2rem(16);
              font-size: px2rem(14);
              line-height: px2rem(14);
              color: $fontBlack;
              cursor: pointer;

              &:hover {
                color: $mainGold;
              }
            }

            .filter__item_active {
              color: $mainGold !important;
            }
          }
        }
      }
    }
  }
}
