@import "@/styles/utils.scss";
@import "@/styles/colors.scss";

$itemWidth: px2rem(124);

.subcategory {
  width: $itemWidth;
  max-width: $itemWidth;
  margin-right: px2rem(20);

  .subcategory__title {
    color: $fontColorBlack;
    font-size: px2rem(16);
    line-height: px2rem(36);
    font-weight: 800;
    position: relative;
    width: $itemWidth;
    max-width: $itemWidth;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $borderColorGrey;
    }
  }

  .subcategory__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.categoryItem {
  color: $fontColorBlack;
  width: 100%;
  display: flex;
  align-items: center;

  &:hover {
    color: $mainRed;
  }

  img {
    width: px2rem(46);
    height: px2rem(46);
  }
}
