@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

$itemWidth: px2rem(124);

.subcategory {
  margin-right: px2rem(24);

  .subcategory__title {
    width: 100%;
    color: $fontColorBlack;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: px2rem(10);
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .subcategory__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: px2rem(428);
  }
}

.categoryItem {
  color: $fontColorBlack;
  width: 100%;
  display: flex;
  align-items: center;

  &:hover {
    color: $mainGold;
  }

  img {
    width: px2rem(46);
    height: px2rem(46);
  }
}
