@import './utils.scss';

.container {
  width: 100%;
  padding: 0 px2rem(15);
  margin: 0 auto
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


@for $i from 1 through 10 {
  .mb#{$i} {
    margin-bottom: $i*0.25rem !important;
  }
}