@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

.toolbar {
  background-color: white;
  padding-bottom: px2rem(10);

  .toolbar__content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: px2rem(150);
    img {
      
    }
  }

  .search {
    margin-right: px2rem(150);
    display: flex;
    align-items: center;
    .search__input {
      input {
        border: 1px solid $mainRed;
        border-radius: px2rem(40);
        width: px2rem(442);
        height: px2rem(38);
      }

      button {
        width: px2rem(90);
        height: px2rem(38);
        border: 1px solid $mainRed;
        background-color: $mainRed;
        border-top-right-radius: px2rem(40);
        border-bottom-right-radius: px2rem(40);
      }
    }
  }

  .cart {
    border: 1px solid $mainRed;
    border-radius: px2rem(40);
    color: $mainRed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 38px;

    .cart__icon {
      color: $mainRed;
      font-size: px2rem(20);
    }
  
    .cart__num {
  
    }
  }
}


