@import '@/styles/utils.scss';
@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';

.categorybar {
  background-color: white;

  :global(.categorybar__overlay) {
    left: px2rem(0) !important;
    top: px2rem(21) !important;

    & > div {
      display: flex;
      width: px2rem($contentMaxWidth);
      max-width: px2rem($contentMaxWidth);
      overflow: auto;
      background-color: white;
      border: 1px solid $borderGrey;
      padding: px2rem(22);
    }
  }

  .categorybar__content {
    position: relative;
    display: flex;
    align-items: center;

    .categorybar__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;

      .categorybar__item {
        color: black;
        font-size: px2rem(14);
        position: relative;
        margin: 0 px2rem(10);
        padding-bottom: px2rem(7);

        &.active::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 3px;
          border-bottom: 3px solid $mainGold;
        }

        &:hover::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 3px;
          border-bottom: 3px solid $mainGold;
        }
      }
    }
  }
}

.categorybar_fixed {
  :global(.categorybar__overlay) {
    top: px2rem(41) !important;
  }

  .categorybar__content {
    .categorybar__list {
      .categorybar__item {
        margin-top: 7px;
        padding-bottom: px2rem(18) !important;
      }
    }
  }
}
