@import '@/styles/utils.scss';


.logo {
  width: px2rem(28);
  height: px2rem(28);
}

.panel {
  background: #f4f0ea;

  .panel__header {
    margin-bottom: px2rem(20);
  }

  .panel__title {
    font-size: px2rem(28);
    font-weight: 700;
  }
}


.carousel {
  img {
    width: 100%;
    height: 100%;
  }
}

