@import '@/styles/utils';

.info {
  background-color: #f5f3ef;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  line-height: px2rem(24);
  font-size: px2rem(13);

  .info__title {
    color: #666;
    width: px2rem(55);
    margin-left: px2rem(10);
  }

  .info__row {
    display: flex;
  }
  .price {
    margin-top: px2rem(16);

    .price__title {
      line-height: px2rem(30);
    }

    .price__prefix {
      color: #d7282d;
      font-size: px2rem(18);
      line-height: px2rem(30);
    }
    .price__num {
      font-size: px2rem(28);
      line-height: px2rem(30);
      margin-left: px2rem(2);
      color: #d7282d;
    }
  }

  .score {
    .score__text {
    }
    .score__num {
      color: #c43c3b;
      margin-left: px2rem(2);
    }
  }

  .delivery {
    .delivery__text {
      display: flex;
      flex-direction: column;

      .delivery__row {
        display: flex;
        align-items: center;
      }
      .delivery__menu {
        border: 1px solid #ccc;
        background: #fff;
        color: #666;
        height: px2rem(24);
        line-height: px2rem(22);
        padding: 0 px2rem(14);
        max-width: px2rem(380);
        margin-left: px2rem(10);
      }
      .delivery__tips {
        font-size: px2rem(12);
      }
    }
  }

  .split {
    border-bottom: 1px dashed #d2d2d2;
    margin: 10px 20px;
  }

  .service {
    .service__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0 px2rem(10);
      }
    }
  }
}
