@import '@/styles/utils';
@import '@/styles/colors';

.body {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  .left {
    position: relative;
    background-image: url('~@/assets/home/flashSale.png');
    height: 429px;
    width: 224px;
    padding-top: 60px;
    box-sizing: border-box;
    .link {
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .title {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 11px;
      color: #615548;
      text-align: center;
    }

    .line {
      width: 20px;
      height: 2px;
      margin: 0 auto 18px;
      background: #61594b;
    }

    .subtitle {
      margin-bottom: 18px;
      font-size: 18px;
      color: #615548;
      line-height: 22px;
      height: 22px;
      text-align: center;
    }
    .timer {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      .timer__time {
        width: 40px;
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        background-color: #615548;
        border-radius: 2px;
        text-align: center;
      }
      .timer__colon {
        font-weight: 700;
        margin: 0 2px;
      }
    }
    .all {
      display: block;
      width: 110px;
      height: 30px;
      margin: 0 auto;
      line-height: 30px;
      color: #fff;
      font-size: 14px;
      background-color: #a7936e;
      cursor: pointer;
      border-radius: 15px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    .right__row {
      display: flex;
      align-items: center;
    }
  }
}
