@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

.login {
  color: black;

  :global(.ant-modal-content) {
    :global(svg) {
      width: px2rem(24);
      height: px2rem(24);
    }
  }

  :global(.ant-modal-body) {
    padding: 0;
  }

  .content {
    .header {
      padding-top: px2rem(32);
      display: flex;
      align-items: center;
      justify-content: center;

      .header__type {
        cursor: pointer;
        color: #999;
        font-size: px2rem(18);
        line-height: px2rem(18);
        font-weight: 400;

        &:hover {
          color: $mainGold;
        }
      }

      .header__type_active {
        color: #333;
      }

      .header__split {
        width: px2rem(1);
        height: px2rem(20);
        background: #ddd;
        margin: 0 px2rem(55);
      }
    }

    .error {
      display: flex;
      align-items: center;
      margin-top: px2rem(12);

      img {
        width: px2rem(16);
        height: px2rem(16);
      }
      span {
        margin-left: px2rem(6);
        color: #d4282d;
        font-size: px2rem(12);
        font-weight: 400;
        line-height: px2rem(20);
      }
    }

    .body {
      width: px2rem(300);
      margin: px2rem(32) auto;
      padding: 0;
      padding-top: px2rem(10);

      .email {
        width: px2rem(298);
        height: px2rem(36);
      }

      .password {
        width: px2rem(298);
        height: px2rem(36);
        margin-top: px2rem(15);
      }

      .submit {
        margin-top: px2rem(40);
        width: 100%;
        height: px2rem(48);
        cursor: pointer;
        text-align: center;
        color: #fff;
        background: #b4a078;
        font-size: px2rem(18);
        line-height: px2rem(48);
        border-radius: 2px;
      }
    }

    .footer {
      height: px2rem(60);
      background: #f5f3ef;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .social {
        margin-left: px2rem(32);

        .social__icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin: 0 4px;
        }

        .social__weixin {
          background-image: url('~@/assets/login/social.png');
          background-position: -7px -4px;

          &:hover {
            background-position: -7px -43px;
          }
        }

        .social__qq {
          background-image: url('~@/assets/login/social.png');
          background-position: -4px -245px;

          &:hover {
            background-position: -4px -289px;
          }
        }

        .social__weibo {
          background-image: url('~@/assets/login/social.png');
          background-position: -7px -123px;

          &:hover {
            background-position: -7px -203px;
          }
        }

        .social__wangyi {
          background-image: url('~@/assets/login/social.png');
          background-position: -5px -83px;

          &:hover {
            background-position: -5px -163px;
          }
        }
      }

      .help {
        display: flex;
        align-items: center;
        font-size: px2rem(12);
        line-height: px2rem(16);
        cursor: pointer;
        color: #999;
        margin-right: px2rem(32);

        .forget {
          margin-left: px2rem(6);
        }
      }
    }
  }
}
