@import '@/styles/utils.scss';

.productPromo {
  position: relative;
  background-image: url('~@/assets/home/promotion_item.png');
  background-position: 0 0;
  background-size: 100% 100%;
  width: px2rem(265);
  height: px2rem(190);

  .header {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: px2rem(24);
    top: px2rem(23);
    color: white;

    .title {
      font-size: px2rem(18);
      line-height: px2rem(18);
      margin-bottom: px2rem(8);
    }

    .subtitle {
      line-height: px2rem(12);
      font-size: px2rem(12);
    }
  }

  .image {
    position: absolute;
    width: px2rem(140);
    height: px2rem(140);
    right: 0;
    bottom: 0;
  }
}
