@import '@/styles/utils';

@mixin product {
  background-color: #fff;
  overflow: hidden;

  text-align: center;
}

@mixin product__header {
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f4f0ea;
}

@mixin product__title {
  margin: 0 auto;
  font-weight: bold;
  a {
    color: #333;
    text-decoration: none;
  }
}

@mixin product__img {
  &:hover {
    transform: scale(1.1, 1.1);
    transition: transform 500ms ease-in-out;
  }
}

@mixin product__tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin product__tag {
  display: inline-block;
  line-height: px2rem(20);
  padding: 0 px2rem(5);
  background-color: #f28f2d;
  font-size: px2rem(12);
  margin-right: px2rem(6);
  color: #fff;
}

@mixin product__price {
  color: #d4282d;
}
.productNormal {
  @include product;
  width: px2rem(223);
  height: px2rem(280);

  .productNormal__header {
    @include product__header;
    margin-bottom: px2rem(8);

    .productNormal__img {
      @include product__img;
      width: px2rem(180);
      height: px2rem(180);
      display: inline-block;
    }
  }

  .productNormal__content {
    text-align: center;
    font-size: px2rem(13);
    position: relative;

    .productNormal__title {
      @include product__title;
      width: px2rem(166);
      max-height: px2rem(40);
      line-height: px2rem(20);
      margin-bottom: px2rem(4);
    }

    .productNormal__tags {
      @include product__tags;
      margin-bottom: px2rem(4);

      .productNormal__tag {
        @include product__tag;
      }
    }

    .productNormal__price {
      @include product__price;
      margin-bottom: px2rem(9);
    }
  }
}
.productLarge {
  @include product;
  width: px2rem(390);
  height: px2rem(570);

  .productLarge__header {
    @include product__header;
    margin-bottom: px2rem(18);

    .productLarge__img {
      @include product__img;
      width: px2rem(320);
      height: px2rem(320);
      margin: px2rem(40) px2rem(35);
    }
  }

  .productLarge__content {
    text-align: center;
    font-size: px2rem(18);
    position: relative;

    .productLarge__title {
      @include product__title;
      width: px2rem(248);
      max-height: px2rem(52);
      line-height: px2rem(26);
      margin-bottom: px2rem(13);
    }

    .productLarge__tags {
      @include product__tags;
      margin-bottom: px2rem(10);

      .productLarge__tag {
        @include product__tag;
      }
    }

    .productLarge__price {
      @include product__price;
      margin-bottom: px2rem(9);
    }
  }
}
