@import '@/styles/sizes.scss';

html {
  font-size: #{$rootFontSize}px !important;
}

body {
  font-size: #{$rootFontSize}px !important;
  font-family: 'Heiti SC', 'Lucida Grande', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', verdana !important;
}

.container {
  max-width: #{$contentMaxWidth}px;
  margin: 0 auto;
  padding: 0;
}

ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
  padding: 0 !important;
}
