@import '@/styles/utils.scss';


.header {
  background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
  color: #ccc;
  font-size: px2rem(12);

  .header__content {
    display: flex;
    align-items: center;
  }

  .header__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
  
    .header__title {
      margin: 0;
      color: #ccc;
    }
  }

  .header__nav {

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0;

      li {
        margin-right: px2rem(10);

        &::after {
          content: '';
          height: px2rem(16);
          border-right: 1px solid #5c5c5c;
          margin-left: px2rem(10);
        }
      }
    }
  }
}

