@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

:global(.Header_notice__text-enter) {
  transform: translateY(40px);
}
:global(.Header_notice__text-enter-active) {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}
:global(.Header_notice__text-exit) {
  transform: translateY(0);
}
:global(.Header_notice__text-exit-active) {
  transform: translateY(-40px);
  transition: transform 500ms ease-in;
}

.nav {
  width: 100%;
  background-color: #333;

  .nav__content {
    display: flex;
    align-items: center;
    font-size: px2rem(12);
  }
}

.notice {
  display: flex;
  align-items: center;
  margin-right: auto;
  position: relative;

  .notice__img {
    width: px2rem(14);
    height: px2rem(14);
    margin-right: px2rem(10);
  }

  .notice__list {
    list-style: none;
    color: $mainGold;
    line-height: px2rem(36);
    height: px2rem(36);
    overflow: hidden;
    margin: 0;
    padding: 0;

    a {
      color: $mainGold;
      text-decoration: underline;
    }
  }
}

.link {
  .link__list {
    list-style: none;
    color: #ccc;
    line-height: px2rem(36);
    display: flex;
    align-items: center;

    .link__item {
      margin-right: px2rem(10);
      &::after {
        content: '';
        display: inline-block;
        height: px2rem(16);
        border-right: 1px solid #5c5c5c;
        vertical-align: middle;
        margin-left: px2rem(10);
      }

      &:last-child::after {
        display: none;
      }

      a {
        color: #ccc;
      }

      .link__appIcon {
        display: inline-block;
        background-image: url('~@/assets/home/icon_x1.png');
        background-position: 0 0;
        width: 7px;
        height: 11px;
        transform: scale($scale);
        margin-right: px2rem(6);
      }
    }
  }
}
